fastapi[all]
sqlalchemy
alembic
asyncpg
pymongo
pydantic[email]
aiofiles
python-multipart
pytest
pytest-asyncio
passlib
bcrypt==4.0.1 # For avoiding any error from passlib
python-jose[cryptography]
httpx
pyotp
aiomysql